<html>
    <head>
        <base id="base" href="${basePath}">
        <!-- build:css display/styles/displaymodel-style.css -->
        <link type="text/css" rel="stylesheet" href="https://dreamfeng.gitee.io/flowable/display/jquery.qtip.min.css" />
        <link type="text/css" rel="stylesheet" href="https://dreamfeng.gitee.io/flowable/display/displaymodel.css" />
    </head>
<body>
<div class="content center-pane" auto-height offset="40" >
    <div id="navigationTree" data-text-main-process="主流程" class="mt10"></div>
    <div id="bpmnModel" data-model-id="" data-history-id="" data-process-definition-id="${id}" data-model-type="custom" style="overflow:auto;"></div>
</div>
<!-- endbuild -->
<script src="https://dreamfeng.gitee.io/flowable/libs/jquery_1.11.0/jquery.min.js"></script>
<script src="https://dreamfeng.gitee.io/flowable/libs/jquery.blockUI.js"></script>
<script type="text/javascript" src="https://dreamfeng.gitee.io/flowable/display/jquery.qtip.min.js"></script>
<script type="text/javascript" src="https://dreamfeng.gitee.io/flowable/display/raphael.min.js"></script>
<script type="text/javascript" src="https://dreamfeng.gitee.io/flowable/display/bpmn-draw.js"></script>
<script type="text/javascript" src="https://dreamfeng.gitee.io/flowable/display/bpmn-icons.js"></script>
<script type="text/javascript" src="https://dreamfeng.gitee.io/flowable/display/Polyline.js"></script>
<script type="text/javascript" src="https://dreamfeng.gitee.io/flowable/display/displaymodel.js"></script>
<!-- endbuild -->
</body>
</html>